{
  "plugins": [
    "babel-plugin-transform-es2015-modules-commonjs",
    ["../../../", {
      "path": "test/fixtures/whitelist/.env",
      "whitelist": [
        "WHITELISTED"
      ]
    }]
  ]
}
